@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply pb-3;
    @apply mb-5;
    color: #4d4d4d;
  }
  h2 {
    border-bottom: 1px solid lightgray;
    @apply font-semibold;
    @apply text-2xl;
    @apply text-forest-600;
    @apply pb-4;
    @apply mb-4;
  }
  h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply text-forest-600;
    @apply pb-2;
    @apply mb-2;
  }
  h4 {
    @apply text-gray-700;
    @apply text-base;
    @apply pb-1;
    @apply mb-1;
    @apply font-sans;
    @apply tracking-wider;
    text-transform: uppercase;
  }
  p {
    @apply text-lg;
    @apply leading-8;
    color: #4d4d4d;
		font-weight: 300;
    padding-bottom: 1.25rem;
  }
  ul {
    list-style: disc;
    @apply ml-6;
    @apply pl-6;
  }
  ol {
    list-style: decimal;
    @apply ml-6;
    @apply pl-6;
  }
  ul, ol {
    padding-bottom: .75rem;
  }

  ul li, ol li {
    @apply text-lg;
    @apply leading-8;
    color: #4d4d4d;
		font-weight: 300;
    padding-bottom: .5rem;
  }

  figure {
    @apply my-4;
  }
  figcaption {
    @apply py-2;
    font-style: italic;
    @apply text-gray-700;
  }

  blockquote {
    @apply font-sans;
    @apply text-lg;
    font-style: italic;
    @apply leading-8;
    @apply text-gray-700;
    @apply pb-1;
    padding-left: 1.5rem;
    margin-bottom: 1.25rem;
    border-left: 5px solid lightgray;
  }
}

a {
  @apply text-forest-100;
}

a:hover {
  @apply text-forest-400;
}

@media (min-width: 1024px) {
  .carousel-fixed-container {
    width: calc(100vw - 38rem);
  }
}

@media (min-width: 1280px) {
  .carousel-fixed-container {
    width: calc(100vw - 42rem);
  }
}
